
{% extends "base.html"  %}

{% block title %}
    Blog - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="section-inner clearfix">
         {% if user.is_authenticated %}

        <p>Welcome {{ request.user.username }} !</p>

        <p>Vous pouverz</p>

        <ul>
           Mettre à jour:      <a href ="registerProfile">{{ perms.comptaApp }} </a>
        </ul>


        </div>


    </div>
        {% else %}
        <h1>Connecter vous!!!</h1>


        {% endif %}
{% endblock %}
